openapi: "3.0.2"
info:
  version: "1.0.0"
  title: "Справочник API ЮKassa"
  description: "В справочнике API вы найдете описание всех методов API ЮKassa. С помощью этого API вы можете принимать платежи в интернете различными способами и делать выплаты. Подробнее об интеграции по API ЮKassa: Инструкции по интеграции: https://yookassa.ru/developers — описание платежных решений, основанных на API ЮKassa, и ссылки на подробные инструкции.; Формат взаимодействия: https://yookassa.ru/developers/using-api/interaction-format — описание формата запросов, требования к аутентификации запросов и ключу идемпотентнсти, особенности обработки ответов.; Спецификация OpenAPI: https://yookassa.ru/developers/using-api/openapi-specification — информация о спецификации API ЮKassa, ссылка для скачивания спецификации в формате YAML.; Готовые SDK: https://yookassa.ru/developers/using-api/using-sdks — ссылки на готовые решения для PHP, Python и других языков программирования.; Входящие уведомления: https://yookassa.ru/developers/using-api/webhooks — описание работы с входящими уведомлениями (webhook, callback) для отслеживания статусов объектов. История изменений API ЮKassa: https://yookassa.ru/developers/using-api/changelog"
servers:
- url: "https://api.yookassa.ru/v3"
security:
- BasicAuth: []
- OAuth2: []
tags:
- name: "Платежи"
  description: "API позволяет создавать, подтверждать, отменять платежи, а также получать информацию о них. Как провести платеж: https://yookassa.ru/developers/payment-acceptance/getting-started/quick-start"
- name: "Способы оплаты"
  description: "Только для тех, кто использует привязку на нулевую сумму: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/recurring-payments/save-payment-method/save-without-payment для сохранения банковских карт. Способ оплаты — данные платежного средства пользователя. Например, данные банковской карты. С помощью API вы можете создать способ оплаты — сохранить платежные данные в ЮKassa с привязкой к вашему магазину. Также по API вы можете получить актуальную информацию о созданном способе оплаты."
- name: "Счета"
  description: "Счет — это страница ЮKassa, на которой пользователь может ознакомиться с деталями заказа и внести оплату. При переходе к оплате ЮKassa автоматически создаст платеж: https://yookassa.ru/developers/api#payment_object и перенаправит пользователя на страницу с платежной формой. Счет считается оплаченным, если по нему есть один успешный платеж. С помощью API вы можете создать счет и получить о нём актуальную информацию. Подробнее о выставлении счетов по API: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/invoices/basics"
- name: "Возвраты"
  description: "С помощью API можно возвращать платежи — полностью или частично. Порядок возврата зависит от способа оплаты (payment_method) исходного платежа. При оплате банковской картой деньги возвращаются на карту, которая была использована для проведения платежа. Как проводить возвраты: https://yookassa.ru/developers/payment-acceptance/after-the-payment/refunds Часть способов оплаты (например, наличные) не поддерживают возвраты. Какие платежи можно вернуть: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-methods#all"
- name: "Чеки"
  description: "Для тех, кто использует решение ЮKassa для 54-ФЗ: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/basics С помощью API можно получать информацию о чеках, для которых вы отправили данные через ЮKassa."
- name: "Выплаты"
  description: "Выплата — это сумма денег, которую вы переводите физическому лицу или самозанятому. С помощью API вы можете создать выплату и получить о ней актуальную информацию. Выплаты используются в следующих платежных решениях ЮKassa: Выплаты: https://yookassa.ru/developers/payouts/overview — вы как компания переводите деньги физическим лицам и самозанятым (например, выплачиваете кэшбек пользователям).; Безопасная сделка: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics — ваша платформа в рамках созданной сделки переводит оплату от одного физического лица другому."
- name: "Самозанятые"
  description: "Только для тех, кто делает обычные выплаты, не в рамках Безопасной сделки. Самозанятые — это люди, которые не имеют работодателя и наемных работников и получают доход, оказывая услуги или продавая товары собственного производства. При выплатах самозанятым каждая выплата будет считаться доходом самозанятого, и ЮKassa будет автоматически регистрировать ее в сервисе Мой налог: https://lknpd.nalog.ru/. С помощью API вы можете создать самозанятого в ЮKassa — сохранить в ЮKassa данные о самозанятом и запросить права на регистрацию чеков. Также по API вы можете получить актуальную информацию о самозанятом. Информация о самозанятом нужна для проведения выплат самозанятым. Как делать выплаты самозанятым: https://yookassa.ru/developers/payouts/scenario-extensions/self-employed"
- name: "Участники СБП"
  description: "Только для тех, кто делает обычные выплаты, не в рамках Безопасной сделки. Участники СБП — это банки и платежные сервисы, подключенные к СБП (Система быстрых платежей ЦБ РФ). С помощью API ЮKassa вы можете получить актуальный список всех участников СБП. Информация об участниках СБП нужна для проведения выплат через СБП. Как делать выплаты через СБП: https://yookassa.ru/developers/payouts/making-payouts/sbp"
- name: "Персональные данные"
  description: "Только для тех, кто делает обычные выплаты, не в рамках Безопасной сделки. Персональные данные пользователя — это фамилия, имя, отчество пользователя и другие данные о нём. С помощью API вы можете создать персональные данные в ЮKassa (сохранить данные о пользователе) и получить актуальную информацию о статусе персональных данных. Персональные данные пользователя нужны в этих сценариях: выплаты с проверкой получателя: https://yookassa.ru/developers/payouts/scenario-extensions/recipient-check (только для выплат через СБП); выплаты с передачей данных получателя для выписок из реестра: https://yookassa.ru/developers/payouts/scenario-extensions/recipient-data-send."
- name: "Сделки"
  description: "Только для тех, кто использует Безопасную сделку: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics. Безопасная сделка — это решение ЮKassa, с помощью которого можно принять оплату от одного участника сделки и перевести ее другому участнику в момент выполнения условий сделки. С помощью API вы можете создать сделку и получить о ней актуальную информацию."
- name: "Webhooks"
  description: "Аутентификация только по OAuth-токену. Доступно в рамках API для партнеров: https://yookassa.ru/developers/solutions-for-platforms/partners-api/basics Webhook — это механизм автоматического оповещения вашей системы о событиях, которые происходят с созданными объектами. Например, ЮKassa может сообщить, когда объект платежа: https://yookassa.ru/developers/api#payment_object, созданный в вашем приложении, перейдет в статус waiting_for_capture. С помощью API вы можете настроить webhook (создать, удалить, просмотреть список созданных) для переданного OAuth-токена. Подробнее об уведомлениях API ЮKassa: https://yookassa.ru/developers/using-api/webhooks"
- name: "Настройки"
  description: "Только для тех, кто использует Сплитование платежей, Партнерскую программу или Выплаты. В ЮKassa у каждого магазина и шлюза есть определенные настройки, которые влияют на интеграцию и проведение платежей и выплат. Настройки доступны в личном кабинете: https://yookassa.ru/my/, но в некоторых платежных решениях ЮKassa важно получать настройки по API. Настройки необходимо узнавать по API в следующих платежных решениях ЮKassa: Сплитование платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics — вы можете узнать статус магазина продавца, подключенного к вашей площадке.; Партнерская программа: https://yookassa.ru/developers/solutions-for-platforms/partners-api/basics — вы можете получить справочную информацию о магазине, от имени которого вы выполняете операции, например можете узнать, нужно ли передавать данные для отправки чека.; Выплаты: https://yookassa.ru/developers/payouts/overview — вы можете узнать баланс выплат вашего шлюза."
paths:
  /payments:
    post:
      summary: "Создание платежа"
      description: "Чтобы принять оплату, необходимо создать объект платежа: https://yookassa.ru/developers/api#payment_object — Payment. Он содержит всю необходимую информацию для проведения оплаты (сумму, валюту и статус). У платежа линейный жизненный цикл, он последовательно переходит из статуса в статус."
      tags:
      - "Платежи"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              title: "CreatePaymentRequest"
              properties:
                amount:
                  allOf:
                  - $ref: "#/components/schemas/MonetaryAmount"
                  - description: "Сумма платежа. Иногда партнеры ЮKassa берут с пользователя дополнительную комиссию, которая не входит в эту сумму. Сумма указывается с кодом валюты. Если вы разделяете потоки платежей, валюта платежа должна соответствовать валюте субаккаунта (recipient.gateway_id), если не разделяете — валюте аккаунта shopId в личном кабинете)."
                description:
                  allOf:
                  - $ref: "#/components/schemas/Description"
                  - description: "Описание транзакции (не более 128 символов), которое вы увидите в личном кабинете ЮKassa, а пользователь — при оплате. Например: «Оплата заказа № 72 для user@yoomoney.ru»."
                receipt:
                  $ref: "#/components/schemas/ReceiptData"
                recipient:
                  $ref: "#/components/schemas/Recipient"
                payment_token:
                  $ref: "#/components/schemas/PaymentToken"
                payment_method_id:
                  $ref: "#/components/schemas/PaymentMethodId"
                payment_method_data:
                  oneOf:
                  - $ref: "#/components/schemas/PaymentMethodDataBankCard"
                  - $ref: "#/components/schemas/PaymentMethodDataCash"
                  - $ref: "#/components/schemas/PaymentMethodDataSberbank"
                  - $ref: "#/components/schemas/PaymentMethodDataTinkoffBank"
                  - $ref: "#/components/schemas/PaymentMethodDataYooMoney"
                  - $ref: "#/components/schemas/PaymentMethodDataMobileBalance"
                  - $ref: "#/components/schemas/PaymentMethodDataB2bSberbank"
                  - $ref: "#/components/schemas/PaymentMethodDataSbp"
                  - $ref: "#/components/schemas/PaymentMethodDataSberLoan"
                  - $ref: "#/components/schemas/PaymentMethodDataElectronicCertificate"
                  - $ref: "#/components/schemas/PaymentMethodDataSberBnpl"
                  discriminator:
                    propertyName: "type"
                confirmation:
                  oneOf:
                  - $ref: "#/components/schemas/ConfirmationDataRedirect"
                  - $ref: "#/components/schemas/ConfirmationDataExternal"
                  - $ref: "#/components/schemas/ConfirmationDataQr"
                  - $ref: "#/components/schemas/ConfirmationDataEmbedded"
                  - $ref: "#/components/schemas/ConfirmationDataMobileApplication"
                  discriminator:
                    propertyName: "type"
                save_payment_method:
                  $ref: "#/components/schemas/SavePaymentMethodAttribute"
                capture:
                  $ref: "#/components/schemas/Capture"
                client_ip:
                  $ref: "#/components/schemas/ClientIp"
                metadata:
                  $ref: "#/components/schemas/Metadata"
                airline:
                  allOf:
                  - $ref: "#/components/schemas/Airline"
                  - description: "Объект с данными для продажи авиабилетов. Используется только для платежей банковской картой."
                transfers:
                  description: "Данные о распределении денег — сколько и в какой магазин нужно перевести. Необходимо передавать, если вы используете Сплитование платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics."
                  type: "array"
                  items:
                    $ref: "#/components/schemas/TransferDataPayment"
                deal:
                  allOf:
                  - $ref: "#/components/schemas/PaymentDealInfo"
                  - description: "Данные о сделке, в составе которой проходит платеж. Необходимо передавать, если вы проводите Безопасную сделку: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics."
                merchant_customer_id:
                  allOf:
                  - $ref: "#/components/schemas/MerchantCustomerId"
                  - description: "Идентификатор покупателя в вашей системе, например электронная почта или номер телефона. Не более 200 символов. Присутствует, если вы хотите запомнить банковскую карту и отобразить ее при повторном платеже в виджете ЮKassa: https://yookassa.ru/developers/payment-acceptance/integration-scenarios/widget/basics."
                payment_order:
                  oneOf:
                  - $ref: "#/components/schemas/PaymentOrderDataUtilities"
                  discriminator:
                    propertyName: "type"
                receiver:
                  oneOf:
                  - $ref: "#/components/schemas/ReceiverMobileBalance"
                  - $ref: "#/components/schemas/ReceiverDigitalWallet"
                  - $ref: "#/components/schemas/ReceiverBankAccount"
                  discriminator:
                    propertyName: "type"
                statements:
                  type: "array"
                  description: "Данные для отправки справки. Необходимо передавать, если вы хотите, чтобы после оплаты пользователь получил справку. Сейчас доступен один тип справок — квитанция по платежу. Это информация об успешном платеже, которую ЮKassa отправляет на электронную почту пользователя. Квитанцию можно отправить, если оплата прошла с банковской карты, через SberPay или СБП. Отправка квитанции доступна во всех сценариях интеграции: https://yookassa.ru/developers/payment-acceptance/getting-started/selecting-integration-scenario."
                  items:
                    oneOf:
                    - $ref: "#/components/schemas/PaymentOverviewStatementData"
                    discriminator:
                      propertyName: "type"
              required:
              - "amount"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "Список платежей"
      description: "Используйте этот запрос, чтобы получить список платежей. Для выгрузки доступны платежи, созданные за последние 3 года. Список можно отфильтровать по различным критериям. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists"
      tags:
      - "Платежи"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - in: "query"
        name: "captured_at.gte"
        description: "Фильтр по времени подтверждения платежей: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.gte=2018-07-18T10:51:18.139Z"
        schema:
          type: "string"
          format: "date-time"
      - in: "query"
        name: "captured_at.gt"
        description: "Фильтр по времени подтверждения платежей: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.gt=2018-07-18T10:51:18.139Z"
        schema:
          type: "string"
          format: "date-time"
      - in: "query"
        name: "captured_at.lte"
        description: "Фильтр по времени подтверждения платежей: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.lte=2018-07-18T10:51:18.139Z"
        schema:
          type: "string"
          format: "date-time"
      - in: "query"
        name: "captured_at.lt"
        description: "Фильтр по времени подтверждения платежей: время должно быть меньше указанного значения («по такой-то момент, не включая его») Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: captured_at.lt=2018-07-18T10:51:18.139Z"
        schema:
          type: "string"
          format: "date-time"
      - in: "query"
        name: "payment_method"
        schema:
          $ref: "#/components/schemas/PaymentMethodType"
        required: false
        description: "Фильтр по коду способа оплаты: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-methods#all. Пример: payment_method=bank_card"
      - in: "query"
        name: "status"
        schema:
          $ref: "#/components/schemas/PaymentStatus"
        required: false
        description: "Фильтр по статусу платежа: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#lifecycle. Пример: status=succeeded"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payments/{payment_id}:
    get:
      summary: "Информация о платеже"
      description: "Запрос позволяет получить информацию о текущем состоянии платежа по его уникальному идентификатору."
      tags:
      - "Платежи"
      parameters:
      - $ref: "#/components/parameters/paymentIdPath"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payments/{payment_id}/capture:
    post:
      summary: "Подтверждение платежа"
      description: "Подтверждает вашу готовность принять платеж. После подтверждения платеж перейдет в статус succeeded. Это значит, что вы можете выдать товар или оказать услугу пользователю. Подтвердить можно только платеж в статусе waiting_for_capture и только в течение определенного времени (зависит от способа оплаты). Если вы не подтвердите платеж в отведенное время, он автоматически перейдет в статус canceled, и деньги вернутся пользователю. Подробнее о подтверждении и отмене платежей: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-and-cancel"
      tags:
      - "Платежи"
      parameters:
      - $ref: "#/components/parameters/paymentIdPath"
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              title: "PaymentCaptureRequest"
              properties:
                amount:
                  allOf:
                  - $ref: "#/components/schemas/MonetaryAmount"
                  - description: "Итоговая сумма, которая спишется с пользователя. Можно указать часть исходной суммы, тогда остаток вернется пользователю. Для этого проверьте, что выбранный способ оплаты поддерживает частичное списание: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-partly. Сумма указывается с кодом валюты. Если вы разделяете потоки платежей, валюта платежа должна соответствовать валюте субаккаунта (recipient.gateway_id), если не разделяете — валюте аккаунта shopId в личном кабинете)."
                receipt:
                  $ref: "#/components/schemas/ReceiptData"
                airline:
                  allOf:
                  - $ref: "#/components/schemas/Airline"
                  - description: "Объект с данными для продажи авиабилетов. Используется только для платежей банковской картой."
                transfers:
                  description: "Данные об актуальном распределении денег — сколько и в какой магазин нужно перевести. Необходимо передавать, если вы используете Сплитование платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics и подтверждаете часть платежа."
                  type: "array"
                  items:
                    $ref: "#/components/schemas/TransferDataCapture"
                deal:
                  type: "object"
                  description: "Данные о сделке, в составе которой проходит платеж. Необходимо передавать, если вы проводите Безопасную сделку: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics и подтверждаете часть платежа."
                  title: "CapturePaymentDeal"
                  properties:
                    settlements:
                      $ref: "#/components/schemas/SettlementPaymentArray"
                  required:
                  - "settlements"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payments/{payment_id}/cancel:
    post:
      summary: "Отмена платежа"
      description: "Отменяет платеж, находящийся в статусе waiting_for_capture. Отмена платежа значит, что вы не готовы выдать пользователю товар или оказать услугу. Как только вы отменяете платеж, мы начинаем возвращать деньги на счет плательщика. Для платежей банковскими картами, из кошелька ЮMoney или через SberPay отмена происходит мгновенно. Для остальных способов оплаты возврат может занимать до нескольких дней. Подробнее о подтверждении и отмене платежей: https://yookassa.ru/developers/payment-acceptance/getting-started/payment-process#capture-and-cancel"
      parameters:
      - $ref: "#/components/parameters/paymentIdPath"
      - $ref: "#/components/parameters/IdempotenceKey"
      tags:
      - "Платежи"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payment_methods:
    post:
      summary: "Создание способа оплаты"
      description: "Используйте этот запрос, чтобы создать в ЮKassa объект способа оплаты: https://yookassa.ru/developers/api#payment_method_object. В запросе необходимо передать код способа оплаты, который вы хотите сохранить, и при необходимости дополнительные параметры, связанные с той функциональностью, которую вы хотите использовать. Идентификатор созданного способа оплаты вы можете использовать при проведении автоплатежей: https://yookassa.ru/developers/payment-acceptance/scenario-extensions/recurring-payments/create-recurring или выплат: https://yookassa.ru/developers/payouts/scenario-extensions/multipurpose-token."
      tags:
      - "Способы оплаты"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SavePaymentMethodDataBankCard"
              discriminator:
                propertyName: "type"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/SavePaymentMethodBankCard"
                discriminator:
                  propertyName: "type"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payment_methods/{payment_method_id}:
    get:
      summary: "Информация о способе оплаты"
      description: "Используйте этот запрос, чтобы получить информацию о текущем состоянии способа оплаты по его уникальному идентификатору."
      tags:
      - "Способы оплаты"
      parameters:
      - $ref: "#/components/parameters/paymentMethodIdPath"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                oneOf:
                - $ref: "#/components/schemas/SavePaymentMethodBankCard"
                discriminator:
                  propertyName: "type"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /invoices:
    post:
      summary: "Создание счета"
      description: "Используйте этот запрос, чтобы создать в ЮKassa объект счета: https://yookassa.ru/developers/api#invoice_object. В запросе необходимо передать данные о заказе, которые отобразятся на странице счета, и данные для проведения платежа."
      tags:
      - "Счета"
      security:
      - BasicAuth: []
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              title: "CreateInvoiceRequest"
              properties:
                payment_data:
                  $ref: "#/components/schemas/PaymentData"
                cart:
                  $ref: "#/components/schemas/Cart"
                delivery_method_data:
                  oneOf:
                  - $ref: "#/components/schemas/DeliveryMethodDataSelf"
                  - $ref: "#/components/schemas/DeliveryMethodDataSms"
                  - $ref: "#/components/schemas/DeliveryMethodDataEmail"
                  discriminator:
                    propertyName: "type"
                expires_at:
                  $ref: "#/components/schemas/InvoiceExpirationDate"
                locale:
                  $ref: "#/components/schemas/Locale"
                description:
                  allOf:
                  - $ref: "#/components/schemas/Description"
                  - description: "Описание выставленного счета (не более 128 символов), которое вы увидите в личном кабинете ЮKassa, а пользователь на странице счета. Например: «Счет на оплату по договору 37»."
                metadata:
                  $ref: "#/components/schemas/Metadata"
              required:
              - "payment_data"
              - "cart"
              - "expires_at"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /invoices/{invoice_id}:
    get:
      summary: "Информация о счете"
      description: "Используйте этот запрос, чтобы получить информацию о текущем состоянии счета по его уникальному идентификатору."
      parameters:
      - $ref: "#/components/parameters/invoiceId"
      tags:
      - "Счета"
      security:
      - BasicAuth: []
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /refunds:
    post:
      summary: "Создание возврата"
      description: "Создает возврат успешного платежа на указанную сумму. Платеж можно вернуть только в течение трех лет с момента его создания: https://yookassa.ru/developers/api#create_payment. Комиссия ЮKassa за проведение платежа не возвращается."
      tags:
      - "Возвраты"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              title: "RefundRequest"
              properties:
                payment_id:
                  $ref: "#/components/schemas/PaymentId"
                amount:
                  allOf:
                  - $ref: "#/components/schemas/MonetaryAmount"
                  - description: "Сумма, которую нужно вернуть пользователю. Сумма указывается с кодом валюты. Если вы разделяете потоки платежей, валюта возврата должна соответствовать валюте субаккаунта, которая была указана для платежа (recipient.gateway_id), если не разделяете — валюте аккаунта shopId в личном кабинете)."
                description:
                  description: "Комментарий к возврату, основание для возврата денег пользователю."
                  type: "string"
                  maxLength: 250
                receipt:
                  $ref: "#/components/schemas/ReceiptData"
                sources:
                  description: "Данные о том, с какого магазина и какую сумму нужно удержать для проведения возврата. Необходимо передавать, если вы используете Сплитование платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics. Сейчас в этом параметре можно передать данные только одного магазина."
                  type: "array"
                  items:
                    $ref: "#/components/schemas/RefundSourcesData"
                deal:
                  $ref: "#/components/schemas/RefundDealData"
                refund_method_data:
                  oneOf:
                  - $ref: "#/components/schemas/ElectronicCertificateRefundMethodData"
                  discriminator:
                    propertyName: "type"
                metadata:
                  $ref: "#/components/schemas/Metadata"
              required:
              - "payment_id"
              - "amount"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Refund"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "Список возвратов"
      description: "Используйте этот запрос, чтобы получить список возвратов. Для выгрузки доступны возвраты, созданные за последние 3 года. Список можно отфильтровать по различным критериям. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists"
      tags:
      - "Возвраты"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - in: "query"
        name: "payment_id"
        schema:
          $ref: "#/components/schemas/PaymentId"
        required: false
        description: "Фильтр по идентификатору платежа: https://yookassa.ru/developers/api#payment_object_id (получить все возвраты по платежу). Пример: payment_id=1da5c87d-0984-50e8-a7f3-8de646dd9ec9"
      - in: "query"
        name: "status"
        schema:
          $ref: "#/components/schemas/RefundStatus"
        required: false
        description: "Фильтр по статусу возврата. Возможные значения: pending — в обработке, succeeded — успешно выполнен, canceled — отменен. Пример: status=succeeded"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /refunds/{refund_id}:
    get:
      summary: "Информация о возврате"
      description: "Запрос позволяет получить информацию о текущем состоянии возврата по его уникальному идентификатору."
      tags:
      - "Возвраты"
      parameters:
      - $ref: "#/components/parameters/refundIdPath"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Refund"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /receipts:
    post:
      summary: "Создание чека"
      description: "Используйте этот запрос при оплате с соблюдением требований 54-ФЗ: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/basics, чтобы создать чек зачета предоплаты. Если вы работаете по сценарию Сначала платеж, потом чек: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics#receipt-after-payment, в запросе также нужно передавать данные для формирования чека прихода и чека возврата прихода."
      tags:
      - "Чеки"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostReceiptData"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "Список чеков"
      description: "Запрос позволяет получить список чеков, отфильтрованный по заданным критериям. Можно запросить чеки по конкретному платежу, чеки по конкретному возврату или все чеки магазина. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists"
      tags:
      - "Чеки"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - in: "query"
        name: "status"
        schema:
          $ref: "#/components/schemas/ReceiptRegistrationStatus"
        required: false
        description: "Фильтр по статусу чека. Возможные значения: pending — в обработке, succeeded — успешно зарегистрирован, canceled — отменен. Пример: status=succeeded"
      - in: "query"
        name: "payment_id"
        schema:
          $ref: "#/components/schemas/PaymentId"
        required: false
        description: "Фильтр по идентификатору платежа: https://yookassa.ru/developers/api#payment_object_id (получить все чеки для указанного платежа). Пример: payment_id=1da5c87d-0984-50e8-a7f3-8de646dd9ec9 В запросе можно передать только что-то одно: или идентификатор платежа, или идентификатор возврата."
      - in: "query"
        name: "refund_id"
        schema:
          $ref: "#/components/schemas/RefundId"
        required: false
        description: "Фильтр по идентификатору возврата: https://yookassa.ru/developers/api#refund_object_id (получить все чеки для указанного возврата). Пример: refund_id=1da5c87d-0984-50e8-a7f3-8de646dd9ec9 В запросе можно передать только что-то одно: или идентификатор платежа, или идентификатор возврата."
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                type: "object"
                description: "Список чеков, созданных за последние три года. Чеки отсортированы по времени создания в порядке убывания (от новых к старым). Если результатов больше, чем задано в limit, список будет выводиться фрагментами. В этом случае в ответе на запрос вернется фрагмент списка и параметр next_cursor с указателем на следующий фрагмент."
                title: "ReceiptList"
                properties:
                  type:
                    type: "string"
                    description: "Формат выдачи результатов запроса. Возможное значение: list (список)."
                    enum:
                    - "list"
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Receipt"
                  next_cursor:
                    $ref: "#/components/schemas/NextCursor"
                required:
                - "type"
                - "items"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /receipts/{receipt_id}:
    get:
      summary: "Информация о чеке"
      description: "Запрос позволяет получить информацию о текущем состоянии чека по его уникальному идентификатору."
      tags:
      - "Чеки"
      parameters:
      - $ref: "#/components/parameters/receiptIdPath"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /deals:
    post:
      summary: "Создание сделки"
      description: "Запрос позволяет создать сделку, в рамках которой необходимо принять оплату от покупателя и перечислить ее продавцу."
      tags:
      - "Сделки"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SafeDealRequest"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafeDeal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "Список сделок"
      description: "Запрос позволяет получить список сделок, отфильтрованный по заданным критериям. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists"
      tags:
      - "Сделки"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - $ref: "#/components/parameters/ExpiresGte"
      - $ref: "#/components/parameters/ExpiresGt"
      - $ref: "#/components/parameters/ExpiresLte"
      - $ref: "#/components/parameters/ExpiresLt"
      - $ref: "#/components/parameters/DealStatusParameter"
      - $ref: "#/components/parameters/FullTextSearch"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                type: "object"
                description: "Список сделок, созданных за последние три года. Сделки отсортированы по времени создания в порядке убывания (от новых к старым). Если результатов больше, чем задано в limit, список будет выводиться фрагментами. В этом случае в ответе на запрос вернется фрагмент списка и параметр next_cursor с указателем на следующий фрагмент."
                title: "DealList"
                properties:
                  type:
                    type: "string"
                    description: "Формат выдачи результатов запроса. Возможное значение: list (список)."
                    enum:
                    - "list"
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/SafeDeal"
                  next_cursor:
                    $ref: "#/components/schemas/NextCursor"
                required:
                - "type"
                - "items"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /deals/{deal_id}:
    get:
      summary: "Информация о сделке"
      description: "Запрос позволяет получить информацию о текущем состоянии сделки по ее уникальному идентификатору."
      tags:
      - "Сделки"
      parameters:
      - $ref: "#/components/parameters/DealIdPath"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafeDeal"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payouts:
    post:
      summary: "Создание выплаты"
      description: "Используйте этот запрос, чтобы создать в ЮKassa объект выплаты: https://yookassa.ru/developers/api#payout_object. В запросе необходимо передать сумму выплаты, данные о способе получения выплаты (например, номер кошелька ЮMoney), описание выплаты и при необходимости дополнительные параметры, связанные с той функциональностью, которую вы хотите использовать. Передаваемые параметры и данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics."
      tags:
      - "Выплаты"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayoutRequest"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payout"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "Список выплат"
      description: "Используйте этот запрос, чтобы получить список выплат. Для выгрузки доступны выплаты, созданные за последние 3 года. Список можно отфильтровать по различным критериям. Данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics. Подробнее о работе со списками: https://yookassa.ru/developers/using-api/lists"
      tags:
      - "Выплаты"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - in: "query"
        name: "payout_destination.type"
        schema:
          $ref: "#/components/schemas/PayoutDestinationDataType"
        description: "Фильтр по коду способа получения выплаты: https://yookassa.ru/developers/payouts/getting-started/payout-types-and-limits#types-destination. Пример: payout_destination.type=bank_card"
      - in: "query"
        name: "status"
        schema:
          $ref: "#/components/schemas/PayoutStatus"
        description: "Фильтр по статусу выплаты: https://yookassa.ru/developers/api#payout_object_status. Пример: status=succeeded"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutsList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payouts/search:
    get:
      summary: "Поиск выплат"
      description: "Используйте этот запрос для поиска выплат по заданным критериям. Доступно только для выплат, созданных за последние 3 месяца. Сейчас доступен поиск только по параметру metadata. Дополнительно можно указать дату и время создания выплаты (параметр created_at). Данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics."
      tags:
      - "Выплаты"
      parameters:
      - $ref: "#/components/parameters/CreatedGte"
      - $ref: "#/components/parameters/CreatedGt"
      - $ref: "#/components/parameters/CreatedLte"
      - $ref: "#/components/parameters/CreatedLt"
      - $ref: "#/components/parameters/MetadataInQueryParameter"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/NextCursor"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutsList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /payouts/{payout_id}:
    get:
      summary: "Информация о выплате"
      description: "Используйте этот запрос, чтобы получить информацию о текущем состоянии выплаты по ее уникальному идентификатору. Данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth запросов зависят от того, какое платежное решение вы используете — обычные выплаты: https://yookassa.ru/developers/payouts/overview или выплаты в рамках Безопасной сделки: https://yookassa.ru/developers/solutions-for-platforms/safe-deal/basics."
      tags:
      - "Выплаты"
      parameters:
      - $ref: "#/components/parameters/PayoutIdPath"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payout"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /sbp_banks:
    get:
      summary: "Список участников СБП"
      description: "С помощью этого запроса вы можете получить актуальный список всех участников СБП. Список нужно вывести получателю выплаты, идентификатор выбранного участника СБП необходимо использовать в запросе на создание выплаты: https://yookassa.ru/developers/api#create_payout. Подробнее о выплатах через СБП: https://yookassa.ru/developers/payouts/making-payouts/sbp"
      tags:
      - "Участники СБП"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                type: "object"
                description: "Список участников СБП. Участники СБП отсортированы по идентификатору участника в порядке убывания."
                title: "GetSbpBanksResponse"
                properties:
                  type:
                    type: "string"
                    description: "Формат выдачи результатов запроса. Возможное значение: list (список)."
                    enum:
                    - "list"
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/SbpParticipantBank"
                required:
                - "type"
                - "items"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /self_employed:
    post:
      summary: "Создание самозанятого"
      description: "Используйте этот запрос, чтобы создать в ЮKassa объект самозанятого: https://yookassa.ru/developers/api#self_employed_object. В запросе необходимо передать ИНН или телефон самозанятого для идентификации в сервисе Мой налог, сценарий подтверждения пользователем заявки ЮMoney на получение прав для регистрации чеков и описание самозанятого. Идентификатор созданного объекта самозанятого необходимо использовать в запросе на проведение выплаты. Подробнее о выплатах самозанятым: https://yookassa.ru/developers/payouts/scenario-extensions/self-employed"
      tags:
      - "Самозанятые"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SelfEmployedRequest"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SelfEmployed"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /self_employed/{self_employed_id}:
    get:
      summary: "Информация о самозанятом"
      description: "С помощью этого запроса вы можете получить информацию о текущем статусе самозанятого по его уникальному идентификатору."
      tags:
      - "Самозанятые"
      parameters:
      - $ref: "#/components/parameters/SelfEmployedIdPath"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SelfEmployed"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /personal_data:
    post:
      summary: "Создание персональных данных"
      description: "Используйте этот запрос, чтобы создать в ЮKassa объект персональных данных: https://yookassa.ru/developers/api#personal_data_object. В запросе необходимо указать тип данных (с какой целью они будут использоваться) и передать информацию о пользователе: фамилию, имя, отчество и другие — в зависимости от выбранного типа. Идентификатор созданного объекта персональных данных необходимо использовать в запросе на создание выплаты: https://yookassa.ru/developers/api#create_payout."
      tags:
      - "Персональные данные"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: "#/components/schemas/SbpPayoutRecipientPersonalDataRequest"
              - $ref: "#/components/schemas/PayoutStatementRecipientPersonalDataRequest"
              discriminator:
                propertyName: "type"
                mapping:
                  payout_statement_recipient: "#/components/schemas/PayoutStatementRecipientPersonalDataRequest"
                  sbp_payout_recipient: "#/components/schemas/SbpPayoutRecipientPersonalDataRequest"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonalData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /personal_data/{personal_data_id}:
    get:
      summary: "Информация о персональных данных"
      description: "С помощью этого запроса вы можете получить информацию о текущем статусе объекта персональных данных по его уникальному идентификатору."
      tags:
      - "Персональные данные"
      parameters:
      - in: "path"
        name: "personal_data_id"
        required: true
        schema:
          $ref: "#/components/schemas/PersonalDataId"
      responses:
        "200":
          description: "Запрос принят в обработку и успешно обработан."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonalData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /webhooks:
    post:
      summary: "Создание webhook"
      description: "Запрос позволяет подписаться на уведомления о событиях: https://yookassa.ru/developers/using-api/webhooks#events (например, переход платежа в статус succeeded). C помощью webhook можно подписаться только на события платежей и возвратов. Если вы хотите получать уведомления о нескольких событиях, вам нужно для каждого из них создать свой webhook. Для каждого OAuth-токена нужно создавать свой набор webhook."
      tags:
      - "Webhooks"
      parameters:
      - $ref: "#/components/parameters/IdempotenceKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              title: "CreateWebhookRequest"
              properties:
                event:
                  allOf:
                  - $ref: "#/components/schemas/NotificationEventType"
                  - description: "Событие: https://yookassa.ru/developers/using-api/webhooks#events, которое вы хотите отслеживать."
                url:
                  description: "URL, на который ЮKassa будет отправлять уведомления."
                  type: "string"
                  example: "https://www.example.com/notification_url"
              required:
              - "event"
              - "url"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "Список созданных webhook"
      description: "Запрос позволяет узнать, какие webhook есть для переданного OAuth-токена."
      tags:
      - "Webhooks"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookList"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /webhooks/{webhook_id}:
    delete:
      summary: "Удаление webhook"
      description: "Запрос позволяет отписаться от уведомлений о событии для переданного OAuth-токена. Чтобы удалить webhook, вам нужно передать в запросе его идентификатор."
      parameters:
      - $ref: "#/components/parameters/webhookId"
      tags:
      - "Webhooks"
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                type: "object"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /me:
    get:
      summary: "Информация о настройках магазина или шлюза"
      description: "С помощью этого запроса вы можете получить информацию о магазине или шлюзе: Для Сплитования платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics: в запросе необходимо передать параметр on_behalf_of с идентификатором магазина продавца и ваши данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth (идентификатор и секретный ключ вашей платформы).; Для партнеров: https://yookassa.ru/developers/solutions-for-platforms/partners-api/basics: в запросе необходимо передать OAuth-токен магазина.; Для выплат: https://yookassa.ru/developers/payouts/overview: в запросе необходимо передать ваши данные для аутентификации: https://yookassa.ru/developers/using-api/interaction-format#auth (идентификатор и секретный ключ вашего шлюза)."
      tags:
      - "Настройки"
      parameters:
      - in: "query"
        name: "on_behalf_of"
        schema:
          $ref: "#/components/schemas/AccountId"
        required: false
        description: "Только для тех, кто использует Сплитование платежей: https://yookassa.ru/developers/solutions-for-platforms/split-payments/basics. Идентификатор магазина продавца, подключенного к вашей платформе, информацию о котором вы хотите узнать."
      responses:
        "200":
          description: "Запрос успешно обработан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  securitySchemes:
    BasicAuth:
      description: "HTTP Basic аутентификация клиента ЮKassa"
      type: "http"
      scheme: "basic"
    OAuth2:
      description: "Авторизация клиента ЮKassa с использованием OAuth-токена"
      type: "oauth2"
      flows:
        implicit:
          authorizationUrl: "https://yookassa.ru/oauth/v2/authorize"
          scopes:
            checkout:payments_create: "Право на создание платежей"
            checkout:payments_capture: "Право на подтверждение платежей"
            checkout:payments_cancel: "Право на отмену платежей"
            checkout:payments_get: "Право на получение списка платежей"
            checkout:refunds_create: "Право на создание возвратов"
            checkout:refunds_get: "Право на получение списка возвратов"
            checkout:receipts_get: "Право на получение списка возвратов"
            checkout:get_fees: "Право на получение информации об удержанных комиссиях"
  parameters:
    IdempotenceKey:
      name: "Idempotence-Key"
      in: "header"
      required: true
      schema:
        type: "string"
        maxLength: 64
        pattern: "[0-9a-zA-Z+-_.]{1,64}"
        default: "2e1da982-1bb1-41f0-b9cf-758cc8bcf069"
    CreatedGte:
      name: "created_at.gte"
      in: "query"
      description: "Фильтр по времени создания: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gte=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    CreatedGt:
      name: "created_at.gt"
      in: "query"
      description: "Фильтр по времени создания: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.gt=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    CreatedLte:
      name: "created_at.lte"
      in: "query"
      description: "Фильтр по времени создания: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lte=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    CreatedLt:
      name: "created_at.lt"
      in: "query"
      description: "Фильтр по времени создания: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: created_at.lt=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    Limit:
      name: "limit"
      in: "query"
      description: "Размер выдачи результатов запроса — количество объектов, передаваемых в ответе. Возможные значения: от 1 до 100. Пример: limit=50 Значение по умолчанию: 10"
      schema:
        type: "integer"
        minimum: 1
        maximum: 100
        default: 10
    NextCursor:
      name: "cursor"
      in: "query"
      description: "Указатель на следующий фрагмент списка. Пример: cursor=37a5c87d-3984-51e8-a7f3-8de646d39ec15 В качестве указателя необходимо использовать значение параметра next_cursor, полученное в ответе на предыдущий запрос. Используется, если в списке больше объектов, чем может поместиться в выдаче (limit), и конец выдачи не достигнут. Пример использования: https://yookassa.ru/developers/using-api/lists#pagination"
      schema:
        type: "string"
    paymentIdPath:
      name: "payment_id"
      in: "path"
      required: true
      description: "Идентификатор платежа."
      schema:
        $ref: "#/components/schemas/PaymentId"
    paymentMethodIdPath:
      name: "payment_method_id"
      in: "path"
      required: true
      description: "Идентификатор сохраненного способа оплаты."
      schema:
        $ref: "#/components/schemas/PaymentMethodId"
    invoiceId:
      name: "invoice_id"
      in: "path"
      required: true
      description: "Идентификатор счета в ЮKassa."
      schema:
        type: "string"
        minLength: 39
        maxLength: 39
        default: "in-e44e8088-bd73-43b1-959a-954f3a7d0c54?>"
    refundIdPath:
      name: "refund_id"
      in: "path"
      required: true
      description: "Идентификатор возврата."
      schema:
        type: "string"
        minLength: 36
        maxLength: 36
        default: "cae993f2-eb15-45f5-91c5-efb87107ae10"
    receiptIdPath:
      name: "receipt_id"
      in: "path"
      required: true
      description: "Идентификатор чека."
      schema:
        $ref: "#/components/schemas/ReceiptId"
    ExpiresGte:
      name: "expires_at.gte"
      in: "query"
      description: "Фильтр по времени автоматического закрытия сделки: время должно быть больше указанного значения или равно ему («с такого-то момента включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.gte=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    ExpiresGt:
      name: "expires_at.gt"
      in: "query"
      description: "Фильтр по времени автоматического закрытия сделки: время должно быть больше указанного значения («с такого-то момента, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.gt=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    ExpiresLte:
      name: "expires_at.lte"
      in: "query"
      description: "Фильтр по времени автоматического закрытия сделки: время должно быть меньше указанного значения или равно ему («по такой-то момент включительно»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.lte=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    ExpiresLt:
      name: "expires_at.lt"
      in: "query"
      description: "Фильтр по времени автоматического закрытия сделки: время должно быть меньше указанного значения («по такой-то момент, не включая его»). Указывается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: expires_at.lt=2018-07-18T10:51:18.139Z"
      schema:
        type: "string"
        format: "date-time"
    DealStatusParameter:
      name: "status"
      in: "query"
      schema:
        $ref: "#/components/schemas/DealStatus"
      description: "Фильтр по статусу сделки. Пример: status=closed"
    FullTextSearch:
      name: "full_text_search"
      in: "query"
      description: "Фильтр по описанию сделки — параметру description (например, идентификатор сделки на стороне вашей интернет-площадки в ЮKassa, идентификатор покупателя или продавца). От 4 до 128 символов. Пример: 123554642-2432FF344R"
      schema:
        type: "string"
        minLength: 4
        maxLength: 128
    DealIdPath:
      name: "deal_id"
      in: "path"
      required: true
      schema:
        $ref: "#/components/schemas/DealId"
    MetadataInQueryParameter:
      name: "metadata"
      in: "query"
      style: "deepObject"
      explode: true
      description: "Фильтр по объекту metadata. Строгий поиск по паре «ключ-значение»: возвращаются объекты, у которых в metadata есть точное совпадение по ключу и по значению. Ограничения: можно передать максимум одну пару «ключ-значение», имя ключа не больше 32 символов, значение ключа не больше 512 символов, тип данных — строка в формате UTF-8 в URL-encoded виде. Шаблон: metadata[key]=value Пример: metadata%5Boperation_id%5D=e2ab2e1c-776d-4376-aba8-d2099243d1f6"
      schema:
        type: "object"
        maxProperties: 1
        additionalProperties:
          type: "string"
          maxLength: 512
    PayoutIdPath:
      name: "payout_id"
      in: "path"
      required: true
      schema:
        $ref: "#/components/schemas/PayoutId"
    SelfEmployedIdPath:
      name: "self_employed_id"
      in: "path"
      required: true
      description: "Идентификатор объекта самозанятого."
      schema:
        $ref: "#/components/schemas/SelfEmployedId"
    webhookId:
      name: "webhook_id"
      in: "path"
      required: true
      description: "Идентификатор webhook-a."
      schema:
        type: "string"
        minLength: 36
        maxLength: 36
        default: "1da5c87d-0984-50e8-a7f3-8de646dd9ec9"
  schemas:
    MonetaryAmount:
      description: "Сумма в выбранной валюте."
      type: "object"
      properties:
        value:
          description: "Сумма в выбранной валюте. Всегда дробное значение. Разделитель дробной части — точка, разделитель тысяч отсутствует. Количество знаков после точки зависит от выбранной валюты. Пример: 1000.00."
          type: "string"
          example: "1000.00"
        currency:
          $ref: "#/components/schemas/CurrencyCode"
      required:
      - "value"
      - "currency"
    CurrencyCode:
      description: "Трехбуквенный код валюты в формате ISO-4217: https://www.iso.org/iso-4217-currency-codes.html. Пример: RUB."
      type: "string"
      enum:
      - "RUB"
      - "EUR"
      - "USD"
      - "KZT"
      - "BYN"
      - "UAH"
      - "UZS"
      - "TRY"
      - "INR"
      - "MDL"
      - "AZN"
      - "AMD"
      example: "RUB"
    Description:
      description: "Поле, в котором пользователь может передать описание создаваемого объекта (не более 128 символов). Например: «Оплата заказа № 72»."
      type: "string"
      maxLength: 128
      example: "Оплата заказа № 72"
    ReceiptData:
      type: "object"
      description: "Данные для формирования чека. Необходимо передавать в этих случаях: вы компания или ИП и для оплаты с соблюдением требований 54-ФЗ используете Чеки от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/basics; вы компания или ИП, для оплаты с соблюдением требований 54-ФЗ используете стороннюю онлайн-кассу: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics и отправляете данные для чеков по одному из сценариев: Платеж и чек одновременно: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics#payment-and-receipt или Сначала чек, потом платеж: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics#payment-after-receipt; вы самозанятый и используете решение ЮKassa для автоотправки чеков: https://yookassa.ru/developers/payment-acceptance/receipts/self-employed/basics."
      properties:
        customer:
          $ref: "#/components/schemas/ReceiptDataCustomer"
        items:
          description: "Список товаров в заказе. Для чеков по 54-ФЗ: если используете Чеки от ЮKassa, можно передать максимум 80 товаров, если используете стороннюю онлайн-кассу, максимум 100 товаров. Для чеков самозанятых — максимум 6 товаров."
          type: "array"
          items:
            $ref: "#/components/schemas/ReceiptDataItem"
        internet:
          description: "Признак проведения платежа в интернете (тег в 54 ФЗ — 1125) — указывает на оплату через интернет. Возможные значения: true — оплата прошла онлайн, через интернет (например, на вашем сайте или в приложении); false — оплата прошла офлайн, при личном взаимодействии (например, в торговой точке или при встрече с курьером). По умолчанию true. Если вы принимаете платежи офлайн, передайте в запросе значение false."
          type: "boolean"
        tax_system_code:
          $ref: "#/components/schemas/TaxSystemCode"
        timezone:
          description: "Номер часовой зоны для адреса, по которому вы принимаете платежи (тег в 54 ФЗ — 1011). Указывается, только если в чеке есть товары, которые подлежат обязательной маркировке (в items.mark_code_info передается параметр gs_1m, short или fur). Перечень возможных значений: для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#timezone; для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#timezone."
          type: "integer"
          minimum: 1
          maximum: 11
        receipt_industry_details:
          description: "Отраслевой реквизит чека (тег в 54 ФЗ — 1261). Можно передавать, если используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2."
          type: "array"
          items:
            $ref: "#/components/schemas/IndustryDetails"
        receipt_operational_details:
          allOf:
          - $ref: "#/components/schemas/OperationalDetails"
          - description: "Операционный реквизит чека (тег в 54 ФЗ — 1270). Можно передавать, если используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2."
      required:
      - "items"
    GatewayId:
      description: "Идентификатор субаккаунта. Используется для разделения потоков платежей в рамках одного аккаунта."
      type: "string"
      example: "456"
    FiscalizationProvider:
      description: "Решение ЮKassa, которое магазин использует для отправки чеков. Возможные значения: Чеки для самозанятых: https://yookassa.ru/developers/payment-acceptance/receipts/self-employed/basics — fns; 54-ФЗ: Чеки от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/basics — avanpost; 54-ФЗ: сторонняя онлайн-касса: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/basics (наименование онлайн-кассы) — a_qsi (aQsi online), atol (АТОЛ Онлайн), business_ru (Бизнес.ру), digital_kassa (digitalkassa), evotor (Эвотор), first_ofd (Первый ОФД), kit_invest (Кит Инвест), komtet (КОМТЕТ Касса), life_pay (LIFE PAY), mertrade (Mertrade), modul_kassa (МодульКасса), rocket (RocketR), shtrih_m (Orange Data)."
      type: "string"
      enum:
      - "atol"
      - "avanpost"
      - "a_qsi"
      - "business_ru"
      - "digital_kassa"
      - "evotor"
      - "first_ofd"
      - "fns"
      - "kit_invest"
      - "komtet"
      - "life_pay"
      - "mertrade"
      - "modul_kassa"
      - "rocket"
      - "shtrih_m"
      example: "atol"
    BankCardHolderName:
      description: "Имя владельца карты."
      type: "string"
      pattern: "[a-zA-Z '-]{0,26}"
      example: "John Smith"
    CardRequestData:
      description: "Данные банковской карты (необходимы, если вы собираете данные карты пользователей на своей стороне)."
      type: "object"
      properties:
        number:
          description: "Номер банковской карты."
          type: "string"
          pattern: "[0-9]{14,19}"
          example: "5105105105105100"
        expiry_year:
          description: "Срок действия, год, YYYY."
          type: "string"
          pattern: "[0-9]{4}"
          example: "2017"
        expiry_month:
          description: "Срок действия, месяц, MM."
          type: "string"
          pattern: "[0-9]{2}"
          example: "07"
        cardholder:
          $ref: "#/components/schemas/BankCardHolderName"
      required:
      - "number"
      - "expiry_year"
      - "expiry_month"
    ReceiptDataCustomer:
      type: "object"
      description: "Информация о пользователе. Необходимо указать как минимум контактные данные: для Чеков от ЮKassa — электронную почту (customer.email), в остальных случаях — электронную почту (customer.email) или номер телефона (customer.phone)."
      properties:
        full_name:
          description: "Для юрлица — название организации, для ИП и физического лица — ФИО. Если у физлица отсутствует ИНН, в этом же параметре передаются паспортные данные. Не более 256 символов. Можно передавать, если используете Чеки от ЮKassa или онлайн-кассу Orange Data, Атол Онлайн."
          type: "string"
          example: "Иванов Иван Иванович"
        inn:
          allOf:
          - $ref: "#/components/schemas/RussianItn"
          - description: "ИНН пользователя (10 или 12 цифр). Если у физического лица отсутствует ИНН, необходимо передать паспортные данные в параметре full_name. Можно передавать, если используете Чеки от ЮKassa или онлайн-кассу Orange Data, Атол Онлайн."
        email:
          allOf:
          - $ref: "#/components/schemas/Email"
          - description: "Электронная почта пользователя для отправки чека. Обязательный параметр, если используете Чеки от ЮKassa или если используете другое решение (стороннюю онлайн-кассу, чеки самозанятых) и не передаете phone."
        phone:
          allOf:
          - $ref: "#/components/schemas/Phone"
          - description: "Телефон пользователя для отправки чека. Указывается в формате ITU-T E.164: https://ru.wikipedia.org/wiki/E.164, например 79000000000. Обязательный параметр, если не передан email."
    ReceiptDataItem:
      type: "object"
      description: "Информация о товарной позиции в заказе. Используется для формирования чека."
      properties:
        description:
          $ref: "#/components/schemas/ReceiptItemDescription"
        amount:
          allOf:
          - $ref: "#/components/schemas/MonetaryAmount"
          - description: "Цена товара (тег в 54 ФЗ — 1079)."
        vat_code:
          $ref: "#/components/schemas/ReceiptItemVatCode"
        quantity:
          $ref: "#/components/schemas/ReceiptItemQuantity"
        measure:
          $ref: "#/components/schemas/ReceiptItemMeasure"
        mark_quantity:
          $ref: "#/components/schemas/MarkQuantity"
        payment_subject:
          $ref: "#/components/schemas/ReceiptItemPaymentSubject"
        payment_mode:
          $ref: "#/components/schemas/ReceiptItemPaymentMode"
        country_of_origin_code:
          $ref: "#/components/schemas/ReceiptItemCountryOfOriginCode"
        customs_declaration_number:
          $ref: "#/components/schemas/ReceiptItemCustomsDeclarationNumber"
        excise:
          $ref: "#/components/schemas/ReceiptItemExcise"
        product_code:
          $ref: "#/components/schemas/ReceiptItemProductCode"
        planned_status:
          $ref: "#/components/schemas/ReceiptItemPlannedStatus"
        mark_code_info:
          $ref: "#/components/schemas/MarkCodeInfo"
        mark_mode:
          $ref: "#/components/schemas/MarkMode"
        payment_subject_industry_details:
          $ref: "#/components/schemas/ReceiptItemPaymentSubjectIndustryDetails"
      required:
      - "description"
      - "quantity"
      - "amount"
      - "vat_code"
    TaxSystemCode:
      description: "Система налогообложения магазина (тег в 54 ФЗ — 1055). Для сторонних онлайн-касс: обязательный параметр, если вы используете онлайн-кассу Атол Онлайн, обновленную до ФФД 1.2, или у вас несколько систем налогообложения, в остальных случаях не передается. Перечень возможных значений: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#tax-systems Для Чеков от ЮKassa: параметр передавать не нужно, ЮKassa его проигнорирует."
      type: "integer"
      format: "int32"
      minimum: 1
      maximum: 6
    IndustryDetails:
      description: "Данные отраслевого реквизита."
      type: "object"
      properties:
        federal_id:
          description: "Идентификатор федерального органа исполнительной власти (тег в 54 ФЗ — 1262)."
          type: "string"
          pattern: "(^00[1-9]{1}$)|(^0[1-6]{1}[0-9]{1}$)|(^07[0-3]{1}$)"
          example: "001"
        document_date:
          description: "Дата документа основания (тег в 54 ФЗ — 1263). Передается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601"
          type: "string"
          format: "date"
          example: "2020-11-18"
        document_number:
          description: "Номер нормативного акта федерального органа исполнительной власти, регламентирующего порядок заполнения реквизита «значение отраслевого реквизита» (тег в 54 ФЗ — 1264)."
          type: "string"
          maxLength: 32
        value:
          description: "Значение отраслевого реквизита (тег в 54 ФЗ — 1265)."
          type: "string"
          example: "123/43"
          maxLength: 256
      required:
      - "federal_id"
      - "document_date"
      - "document_number"
      - "value"
    OperationalDetails:
      description: "Данные операционного реквизита чека"
      type: "object"
      properties:
        operation_id:
          description: "Идентификатор операции (тег в 54 ФЗ — 1271). Число от 0 до 255."
          type: "integer"
          minimum: 0
          maximum: 255
          example: 0
        value:
          description: "Данные операции (тег в 54 ФЗ — 1272)."
          type: "string"
          maxLength: 64
        created_at:
          description: "Время создания операции (тег в 54 ФЗ — 1273). Указывается по UTC: https://ru.wikipedia.org/wiki/%D0%92%D1%81%D0%B5%D0%BC%D0%B8%D1%80%D0%BD%D0%BE%D0%B5_%D0%BA%D0%BE%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%BE%D0%B5_%D0%B2%D1%80%D0%B5%D0%BC%D1%8F и передается в формате ISO 8601: https://en.wikipedia.org/wiki/ISO_8601. Пример: 2017-11-03T11:52:31.827Z"
          type: "string"
          format: "date-time"
          example: "2020-07-03T11:52:31.827Z"
      required:
      - "operation_id"
      - "value"
      - "created_at"
    ReceiptItemDescription:
      description: "Название товара (от 1 до 128 символов). Тег в 54 ФЗ — 1030."
      type: "string"
    ReceiptItemVatCode:
      description: "Ставка НДС (тег в 54 ФЗ — 1199). Для чеков по 54-ФЗ — перечень возможных значений: для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#vat-codes; для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#vat-codes. Для чеков самозанятых — фиксированное значение: 1"
      type: "integer"
      format: "int32"
      minimum: 1
      maximum: 10
    ReceiptItemQuantity:
      description: "Количество товара (тег в 54 ФЗ — 1023). Для чеков по 54-ФЗ: можно передать целое или дробное число. Разделитель дробной части — точка, разделитель тысяч отсутствует. Максимально возможное значение и максимальное количество знаков после точки (для дробных значений) зависят от модели вашей онлайн-кассы. Для чеков от ЮKassa максимально возможное значение — 99999.999, не более 3 знаков после точки. Для чеков самозанятых: только целые положительные числа (без точки и дробной части). Пример: 1."
      type: "number"
      example: 1
    ReceiptItemMeasure:
      description: "Мера количества предмета расчета (тег в 54 ФЗ — 2108) — единица измерения товара, например штуки, граммы. Обязательный параметр, если используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2. Перечень возможных значений: для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#measure; для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#measure."
      type: "string"
      enum:
      - "piece"
      - "gram"
      - "kilogram"
      - "ton"
      - "centimeter"
      - "decimeter"
      - "meter"
      - "square_centimeter"
      - "square_decimeter"
      - "square_meter"
      - "milliliter"
      - "liter"
      - "cubic_meter"
      - "kilowatt_hour"
      - "gigacalorie"
      - "day"
      - "hour"
      - "minute"
      - "second"
      - "kilobyte"
      - "megabyte"
      - "gigabyte"
      - "terabyte"
      - "another"
      example: "piece"
    MarkQuantity:
      description: "Дробное количество маркированного товара (тег в 54 ФЗ — 1291). Обязательный параметр, если одновременно выполняются эти условия: вы используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2; товар нужно маркировать: http://docs.cntd.ru/document/902192509; поле measure имеет значение piece. Пример: вы продаете поштучно карандаши. Они поставляются пачками по 100 штук с одним кодом маркировки. При продаже одного карандаша нужно в numerator передать 1, а в denominator — 100."
      type: "object"
      properties:
        numerator:
          description: "Числитель — количество продаваемых товаров из одной потребительской упаковки (тег в 54 ФЗ — 1293). Не может превышать denominator."
          type: "integer"
          example: 1
          minimum: 1
        denominator:
          description: "Знаменатель — общее количество товаров в потребительской упаковке (тег в 54 ФЗ — 1294)."
          type: "integer"
          example: 100
          minimum: 1
      required:
      - "numerator"
      - "denominator"
    ReceiptItemPaymentSubject:
      description: "Признак предмета расчета (тег в 54 ФЗ — 1212) — это то, за что принимается оплата, например товар, услуга. Перечень возможных значений: для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#payment-subject; для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#payment-subject."
      type: "string"
      enum:
      - "commodity"
      - "excise"
      - "job"
      - "service"
      - "gambling_bet"
      - "gambling_prize"
      - "lottery"
      - "lottery_prize"
      - "intellectual_activity"
      - "payment"
      - "agent_commission"
      - "property_right"
      - "non_operating_gain"
      - "insurance_premium"
      - "sales_tax"
      - "resort_fee"
      - "composite"
      - "another"
      - "fine"
      - "tax"
      - "lien"
      - "cost"
      - "pension_insurance_without_payouts"
      - "pension_insurance_with_payouts"
      - "health_insurance_without_payouts"
      - "health_insurance_with_payouts"
      - "health_insurance"
      - "casino"
      - "agent_withdrawals"
      - "non_marked_excise"
      - "marked_excise"
      - "marked"
      - "non_marked"
    ReceiptItemPaymentMode:
      description: "Признак способа расчета (тег в 54 ФЗ — 1214) — отражает тип оплаты и факт передачи товара. Пример: покупатель полностью оплачивает товар и сразу получает его. В этом случае нужно передать значение full_payment (полный расчет). Перечень возможных значений: для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#payment-mode; для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#payment-mode."
      type: "string"
      enum:
      - "full_prepayment"
      - "partial_prepayment"
      - "advance"
      - "full_payment"
      - "partial_payment"
      - "credit"
      - "credit_payment"
    ReceiptItemCountryOfOriginCode:
      description: "Код страны происхождения товара по общероссийскому классификатору стран мира (OК (MК (ИСО 3166) 004-97) 025-2001: http://docs.cntd.ru/document/842501280). Тег в 54 ФЗ — 1230. Пример: RU. Можно передавать, если используете онлайн-кассу Orange Data, Кит Инвест."
      type: "string"
      example: "RU"
    ReceiptItemCustomsDeclarationNumber:
      description: "Номер таможенной декларации (от 1 до 32 символов). Тег в 54 ФЗ — 1231. Можно передавать, если используете онлайн-кассу Orange Data, Кит Инвест."
      type: "string"
      minLength: 1
      maxLength: 32
      example: "10714040/140917/0090376"
    ReceiptItemExcise:
      description: "Сумма акциза товара с учетом копеек (тег в 54 ФЗ — 1229). Десятичное число с точностью до 2 знаков после точки. Можно передавать, если используете онлайн-кассу Orange Data, Кит Инвест."
      type: "string"
      example: "20.00"
    ReceiptItemProductCode:
      description: "Код товара (тег в 54 ФЗ — 1162) — уникальный номер, который присваивается экземпляру товара при маркировке. Формат: число в шестнадцатеричном представлении с пробелами. Максимальная длина — 32 байта. Пример: 00 00 00 01 00 21 FA 41 00 23 05 41 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 12 00 AB 00. Обязательный параметр, если одновременно выполняются эти условия: вы используете онлайн-кассу, обновленную до ФФД 1.05; товар нужно маркировать: http://docs.cntd.ru/document/902192509."
      type: "string"
      example: "00 00 00 01 00 21 FA 41 00 23 05 41 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 12 00 AB 00"
    ReceiptItemPlannedStatus:
      description: "Планируемый статус товара. Тег в 54 ФЗ — 2003. Указывается только для товаров, которые подлежат обязательной маркировке (в items.mark_code_info передается параметр gs_1m, short или fur). Перечень возможных значений: для Чеков от ЮKassa: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/yoomoney/parameters-values#planned-status; для сторонних онлайн-касс: https://yookassa.ru/developers/payment-acceptance/receipts/54fz/other-services/parameters-values#planned-status."
      type: "integer"
      format: "int32"
      minimum: 1
      maximum: 6
    MarkCodeInfo:
      description: "Код товара (тег в 54 ФЗ — 1163). Обязательный параметр, если одновременно выполняются эти условия: вы используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2; товар нужно маркировать: http://docs.cntd.ru/document/902192509. Должно быть заполнено хотя бы одно поле."
      type: "object"
      properties:
        mark_code_raw:
          description: "Код товара в том виде, в котором он был прочитан сканером (тег в 54 ФЗ — 2000). Нужно передавать, если используете онлайн-кассу Orange Data. Пример: 010460406000590021N4N57RTCBUZTQ\\u001d2403054002410161218\\u001d1424010191ffd0\\u001g92tIAF/YVpU4roQS3M/m4z78yFq0nc/WsSmLeX6QkF/YVWwy5IMYAeiQ91Xa2m/fFSJcOkb2N+uUUtfr4n0mOX0Q=="
          type: "string"
        unknown:
          description: "Нераспознанный код товара (тег в 54 ФЗ — 1300)."
          type: "string"
          minLength: 1
          maxLength: 32
        ean_8:
          description: "Код товара в формате EAN-8 (тег в 54 ФЗ — 1301)."
          type: "string"
          minLength: 8
          maxLength: 8
        ean_13:
          description: "Код товара в формате EAN-13 (тег в 54 ФЗ — 1302)."
          type: "string"
          minLength: 13
          maxLength: 13
        itf_14:
          description: "Код товара в формате ITF-14 (тег в 54 ФЗ — 1303)."
          type: "string"
          minLength: 14
          maxLength: 14
        gs_10:
          description: "Код товара в формате GS1.0 (тег в 54 ФЗ — 1304). Можно передавать, если используете онлайн-кассу Orange Data, aQsi, Кит Инвест, АТОЛ Онлайн."
          type: "string"
          minLength: 1
          maxLength: 38
        gs_1m:
          description: "Код товара в формате GS1.M (тег в 54 ФЗ — 1305)."
          type: "string"
          minLength: 1
          maxLength: 200
        short:
          description: "Код товара в формате короткого кода маркировки (тег в 54 ФЗ — 1306)."
          type: "string"
          minLength: 1
          maxLength: 38
        fur:
          description: "Контрольно-идентификационный знак мехового изделия (тег в 54 ФЗ — 1307)."
          type: "string"
          minLength: 20
          maxLength: 20
        egais_20:
          description: "Код товара в формате ЕГАИС-2.0 (тег в 54 ФЗ — 1308)."
          type: "string"
          minLength: 33
          maxLength: 33
        egais_30:
          description: "Код товара в формате ЕГАИС-3.0 (тег в 54 ФЗ — 1309)."
          type: "string"
          maxLength: 14
          minLength: 14
    MarkMode:
      description: "Режим обработки кода маркировки (тег в 54 ФЗ — 2102). Обязательный параметр, если одновременно выполняются эти условия: вы используете Чеки от ЮKassa или онлайн-кассу Атол Онлайн или BusinessRu, обновленную до ФФД 1.2; товар нужно маркировать: http://docs.cntd.ru/document/902192509. Должен принимать значение равное «0»."
      type: "string"
      pattern: "^[0]{1}$"
      example: "0"
    ReceiptItemPaymentSubjectIndustryDetails:
      description: "Отраслевой реквизит предмета расчета (тег в 54 ФЗ — 1260). Можно передавать, если используете Чеки от ЮKassa или онлайн-кассу, обновленную до ФФД 1.2."
      type: "array"
      items:
        $ref: "#/components/schemas/IndustryDetails"
    RussianItn:
      description: "ИНН пользователя (10 или 12 цифр)."
      type: "string"
      example: "6321341814"
      pattern: "\\d{10}|\\d{12}"
    Email:
      description: "Адрес электронной почты RFC 5322"
      type: "string"
      format: "email"
      maxLength: 254
      example: "user@yoomoney.ru"
    Phone:
      description: "Номер телефона в формате ITU-T E.164"
      type: "string"
      pattern: "[0-9]{4,15}"
      example: "79000000000"
    SbpBankId:
      type: "string"
      description: "Идентификатор банка или платежного сервиса в СБП (НСПК)."
      maxLength: 12
      pattern: "[a-zA-Z0-9]{12}"
      example: "100000000111"
    SbpBankBic:
      type: "string"
      description: "Банковский идентификационный код (БИК) банка или платежного сервиса."
      maxLength: 9
      pattern: "\\d{9}"
      example: "044525225"
    PayoutDestinationDataType:
      description: "Способ получения выплаты: yoo_money — выплаты на кошелек ЮMoney; bank_card — выплаты на банковскую карту; sbp — выплаты через СБП на счет в банке или платежном сервисе."
      type: "string"
      enum:
      - "yoo_money"
      - "bank_card"
      - "sbp"
    PayoutDestinationData:
      discriminator:
        propertyName: "type"
        mapping:
          yoo_money: "#/components/schemas/PayoutToYooMoneyDestinationData"
          bank_card: "#/components/schemas/PayoutToBankCardDestinationData"
          sbp: "#/components/schemas/PayoutToSbpDestinationData"
      type: "object"
      description: "Данные платежного средства, на которое нужно сделать выплату. Обязательный параметр, если не передан payout_token или payment_method_id. Выплаты через СБП доступны только при обычных выплатах и только при выплатах физическим лицам."
      properties:
        type:
          $ref: "#/components/schemas/PayoutDestinationDataType"
      required:
      - "type"
    YooMoneyAccountNumber:
      description: "Номер кошелька ЮMoney, например 41001614575714. Длина — от 11 до 33 цифр."
      minLength: 11
      maxLength: 33
      type: "string"
      example: "41001614575714"
    CardDataForPayoutDestination:
      description: "Данные банковской карты для выплаты."
      type: "object"
      properties:
        number:
          description: "Номер банковской карты. Формат: только цифры, без пробелов. Пример: 5555555555554477"
          type: "string"
          pattern: "[0-9]{16,19}"
          example: "5555555555554477"
      required:
      - "number"
    Recipient:
      description: "Получатель платежа. Нужен, если вы разделяете потоки платежей в рамках одного аккаунта или создаете платеж в адрес другого аккаунта."
      type: "object"
      properties:
        gateway_id:
          $ref: "#/components/schemas/GatewayId"
      required:
      - "gateway_id"
    PaymentToken:
      description: "Одноразовый токен для проведения оплаты, сформированный с помощью Checkout.js: https://yookassa.ru/developers/payment-acceptance/integration-scenarios/checkout-js/basics или мобильного SDK: https://yookassa.ru/developers/payment-acceptance/integration-scenarios/mobile-sdks/basics."
      type: "string"
      example: "+u7PDjMTkf08NtD66P6+eYWa2yjU3gsSIhOOO+OWsOg="
    ConfirmationDataType:
[...]
